<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.github.sigute.textviewsizing">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".examples.SpVsDpActivity"
            android:label="@string/title_sp_vs_dp"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".examples.EllipsizingActivity"
            android:label="@string/title_ellipsizing"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".examples.CutOffActivity"
            android:label="@string/title_cut_off"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".examples.AutosizingActivity"
            android:label="@string/title_autosizing"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".examples.OverlayActivity"
            android:label="@string/title_overlay"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>
